---
layout: page
title: "Occiban 404"
permalink: /404.html
---

<div class="image-container card-effect">
        <h1 class="home-h1">A mechanical barrier between you and <span class="colorful">biohazards</span>.</h1>
</div>

<div class="color-box marg-bottom">
  <h2>Occiban is a high end <span class="bb">disinfectant coating</span> protecting surfaces and people from virusses, bacteria and other biohazards.</h2>
</div>

<div class="container-fluid">

    <div class="work-section">
    <div class="row two-col marg-bottom-xl">
      <div class="col-lg-1"></div>
      <div class="col-lg-5">
        <img class="img-full" src="/img/Home/DSC_9383.png" alt="occiban">
      </div>
      <div class="col-lg-5 up-down-flex padd-left">
        <div class="two-text">
          <h2 class="marg-bottom">Here is a title of two paragraphs</h2>
            <p>Lorem Ipsum is slechts een proeftekst uit het drukkerij- en zetterijwezen. Lorem Ipsum is de standaard proeftekst in deze bedrijfstak sinds de 16e eeuw, toen een onbekende drukker een zethaak met letters nam en ze door elkaar husselde om een font-catalogus te maken. Het heeft niet alleen vijf eeuwen overleefd maar is ook, vrijwel onveranderd, overgenomen in elektronische letterzetting. Het is in de jaren ’60 populair geworden met de introductie van Letraset vellen met Lorem Ipsum passages en meer recentelijk door desktop publishing software zoals Aldus PageMaker die versies van Lorem Ipsum bevatten.</p>
        </div>
        <div class="two-bottom">
          <a href="/contact" class="nav-menu-link white w-nav-link box-nav-2 no-marg">Contact</a>
        </div>
      </div>
    </div>

    <div class="row two-col marg-bottom-xxl">
      <div class="col-lg-1"></div>
      <div class="col-lg-5 order-lg-12">
        <img class="img-full" src="/img/Home/DSC_9479.png" alt="occiban">
      </div>
      <div class="col-lg-5 up-down-flex order-lg-1">
        <div class="two-text">
          <h2 class="marg-bottom">Here is a title of two paragraphs</h2>
            <p>Lorem Ipsum is slechts een proeftekst uit het drukkerij- en zetterijwezen. Lorem Ipsum is de standaard proeftekst in deze bedrijfstak sinds de 16e eeuw, toen een onbekende drukker een zethaak met letters nam en ze door elkaar husselde om een font-catalogus te maken. Het heeft niet alleen vijf eeuwen overleefd maar is ook, vrijwel onveranderd, overgenomen in elektronische letterzetting. Het is in de jaren ’60 populair geworden met de introductie van Letraset vellen met Lorem Ipsum passages en meer recentelijk door desktop publishing software zoals Aldus PageMaker die versies van Lorem Ipsum bevatten.</p>
        </div>
        <div class="two-bottom">
          <a href="/contact" class="nav-menu-link white w-nav-link box-nav-2 no-marg">Contact</a>
        </div>
      </div>
    </div>

    </div>
</div>

{% include upper-bottom.html %}
<div class="section cta-blue-height">
  <div class="container-cta-about">
    <h2 class="display color-white h2 text-center container-cta-about-2 tele-h2">Want to know even more? <br><br> <a href="tel:+32498646598‬" class="w-nav-link no-marg tele-link">Call us on ‭ <br>+32 498 64 65 98‬</a></h2>
  </div>
</div>
{% include lower-bottom.html %}
