---
layout: page
title: "About Bombay Studio"
permalink: /about/
---
<div class="container">
  <h1 class="h2 marg-bottom">We are Bombay</h1>
  <div class="row marg-bottom-xl">
    <div class="col-lg-8">
      <p class="bigger-para">A group of business optimists who wants to help your company flourish.</p><br>
      <p class="bigger-para"> Check out our values and history below.</p>
    </div>
  </div>

</div>
  <div class="marg-bottom-xl padd-top-xl padd-bottom-xl mobile-icon-fix" style="background-color:#F8F8F9">
    <div class="container">
    <h2 class="h2 large marg-bottom-xl">Values</h2>
    <div class="row marg-bottom">
      <div class="col-lg-12 marg-bottom">
        <div class="">
          <img src="/img/About/line-1.svg" alt="Current brand"><p class="top-para">Collaborate</p>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="">
          <img src="/img/About/line-2.svg" alt="Current brand"><p class="top-para">Profits (broad meaning)</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 marg-bottom">
        <div class="">
          <img src="/img/About/line.svg" alt="Current brand"><p class="top-para">Beauty</p>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="">
          <img src="/img/About/line-3.svg" alt="Current brand"><p class="top-para">Enjoy</p>
        </div>
      </div>
    </div>
  </div>
  </div>
<div class="container">


  <h2 class="h2 large marg-bottom-xl">History</h2>
  <div class="row marg-bottom-xxl">
    <div class="col-lg-8">
      <p class="desktop-only">
        It all started in 2015 <br><br>
         A group of friends launched their first ecommerce.<br><br>
          We designed, manufactured and sold a standing desk.<br><br>
           Set up a successful crowdfunding campaign.<br><br>
            Put our souls into it.<br><br>
             Scaled it throughout Europe.<br><br>
              Started working together with an American company, Fully.<br><br>
               Got acquired by Fully.<br><br>
                Launched and grew the Fully brand throughout Europe (€ 100+k -> € 5+ Mio)<br><br><br><br>
                 After that,<br><br>
                  We started helping several smaller online first brands in our leisure time.<br><br>
                   We found awesome people to collaborate with around the world.<br><br>
                    Then started Bombay to focus on working for brands we love.<br><br>
      </p>
      <p class="mobile-only">
        It all started in 2015, when a group of friends launched their first ecomm. We designed, manufactured and sold standing desks. The project was kickstarted with a <u>successful crowdfunding</u> campaign. Later we <u>scaled</u> the business <u>throughout Europe</u>. After that we started working together with an <u>American B Corp, Fully</u> who later <u>acquired</u>. After the acquisition we launched and <u>scaled</u> the Fully brand throughout the EU from a <u>couple of € 100 k to a couple of € 1000 k in sales</u>.<br><br> After that, we started helping several smaller online first brands in our leisure time. We found <u>awesome people to collaborate</u> with <u>around the world</u>.<br><br> Then <u>started Bombay</u> to focus on <u>working for and investing in</u> brands we love.
      </p>
    </div>
  </div>
</div>

{% include upper-bottom.html %}
            <h2 class="display color-white h2 text-center">Want to get to know us even better?<br><br> <a href="/contact" class="nav-menu-link white w-nav-link box-nav-2 no-marg">Contact us</a></h2>
{% include lower-bottom.html %}
