---
layout: landing
title: "Contact Us"
permalink: /contact/
---

{% include upper-bottom.html %}
        <div class="section cta-blue-height">
          <div class="container">
            <div class="row" style="padding-bottom: 5%;">
              <div class="col-lg-6">
                <h2 class="display color-pink h2 container-cta-about-2">
                  Occiban helps you<br class="desktop-only"> create
                  <span style="font-size: 100%;" data-line-height="xs">
                    <span class="typewrite" data-period="1000" data-type='[ "a clean office.", "a safe environment.", "a low virus environment.", "a long lasting coating." ]'>
                      <span class="wrap"></span>
                    </span>
                  </span>
                </h2>
                <img class="only-desktop footer-image" src="/img/Contact/Component 1 – 1.svg" alt="arrow">
                <br class="only-mobile">
                <p class="footer-para">Please fill in this form,<br> and within 24h we will be in touch.</p>
              </div>
              <div class="col-lg-1"><br class="only-mobile"></div>
              <div class="col-lg-4 cust-marg-form">
                <form action="https://formspree.io/meqpjaka" method="post">
                  <input class="inp-txt" type="text" name="name" value="" placeholder="name">
                  <input class="inp-txt" type="email" name="_replyto" value="" placeholder="e-mail">
                  <input class="inp-txt" type="text" name="title" value="" placeholder="title">
                  <textarea class="inp-txt" type="text" name="info" value="" placeholder="more information"></textarea>
                  <input class="nav-menu-link white w-nav-link box-nav-2 no-marg" type="submit" name="" value="Submit">
                </form>
              </div>
            </div>
            </div>
        </div>
        <script>
  var TxtType = function(el, toRotate, period) {
    this.toRotate = toRotate;
    this.el = el;
    this.loopNum = 0;
    this.period = parseInt(period, 10) || 2000;
    this.txt = '';
    this.tick();
    this.isDeleting = false;
  };


  TxtType.prototype.tick = function() {
    var i = this.loopNum % this.toRotate.length;
    var fullTxt = this.toRotate[i];

    if (this.isDeleting) {
      this.txt = fullTxt.substring(0, this.txt.length - 1);
    } else {
      this.txt = fullTxt.substring(0, this.txt.length + 1);
    }

    this.el.innerHTML = '<span class="wrap">'+this.txt+'</span>';

    var that = this;
    var delta = 200 - Math.random() * 100;

    if (this.isDeleting) { delta /= 2; }

    if (!this.isDeleting && this.txt === fullTxt) {
      delta = this.period;
      this.isDeleting = true;
    } else if (this.isDeleting && this.txt === '') {
      this.isDeleting = false;
      this.loopNum++;
      delta = 500;
    }

    setTimeout(function() {
      that.tick();
    }, delta);
  };

  window.onload = function() {


    var elements = document.getElementsByClassName('typewrite');
    for (var i=0; i<elements.length; i++) {
      var toRotate = elements[i].getAttribute('data-type');
      var period = elements[i].getAttribute('data-period');
      if (toRotate) {
        new TxtType(elements[i], JSON.parse(toRotate), period);
      }
    }
    // INJECT CSS
    var css = document.createElement("style");
    css.type = "text/css";
    css.innerHTML = ".typewrite > .wrap { border-right: 0.08em solid #fff}";
    document.body.appendChild(css);
  };
</script>
{% include lower-bottom.html %}
