---
layout: landing
title: "Contact Us"
permalink: /contact/
---

{% include upper-bottom.html %}
        <div class="section cta-blue-height">
          <div class="container">
            <div class="row">
              <div class="col-lg-4">
                <h2 class="display color-pink h2 container-cta-about-2">
                  We’d like to get to know you better.
                </h2>
                <img class="only-desktop footer-image" src="/img/Contact/Component 1 – 1.svg" alt="arrow">
                <br class="only-mobile">
                <p class="footer-para">Please fill in this form,<br> and within 24h we will be in touch.</p>
              </div>
              <div class="col-lg-3"><br class="only-mobile"></div>
              <div class="col-lg-4 cust-marg-form">
                <form action="https://formspree.io/meqpjaka" method="post">
                  <input class="inp-txt" type="text" name="name" value="" placeholder="name">
                  <input class="inp-txt" type="email" name="_replyto" value="" placeholder="e-mail">
                  <input class="inp-txt" type="text" name="title" value="" placeholder="title">
                  <textarea class="inp-txt" type="text" name="info" value="" placeholder="more information"></textarea>
                  <input class="nav-menu-link white w-nav-link box-nav-2 no-marg lowercase" type="submit" name="" value="Submit">
                </form>
              </div>
            </div>
            </div>
        </div>
{% include lower-bottom.html %}
