---
layout: page
title: "Cookie Policy"
permalink: /cookies/
---
<div class="container">
  <h1 class="h2 marg-bottom">Cookie Policy</h1>
  <div class="row marg-bottom-xl">
    <div class="col-lg-8">
      <p class="bigger-para">On this page you should find everything related to cookies. Please let us know if there is anything that you find unclear.</p><br>
    </div>
  </div>

  <h2 class="h2 large marg-bottom">General terms</h2>
  <div class="row">
    <div class="col-lg-8">
        <ul class="marg-bottom">
          <li>Occiban, as a Belgian company, applies the “law of December 8, 1992 on Privacy Protection in relation to the Processing of Personal Data” as modified by the “law of December 11, 1998” and by the “law of June 13,
        2005 on electronic communications”.</li>
        <li>Occiban declares to abide by the European General Data Protection Regulation 2016/679 of 27 April 2016 with this Privacy Pliicy.</li>
        <li>Occiban takes responsibility for the processing of your personal data.</li>
        </ul>
        <p class="marg-bottom">
        Occiban<br>
        9000 Gent<br>
        Belgium<br>
        VAT number: XXXX<br>
      </p>
    </div>
  </div>
      <h2 class="h2 large marg-bottom">What is a cookie?</h2>
  <div class="row">
    <div class="col-lg-8">
      <p class="marg-bottom">
      A “cookie” is a small text file that is sent from the server of Occiban and is stored on your computer’s hard drive. This way we can remember your preferences when visiting our Website. The information stored through these cookies can
      only be read by Occiban and only for the duration of your visit to the Website.
      </p>
    </div>
  </div>
      <h2 class="h2 large marg-bottom">Why do we use cookies?</h2>
  <div class="row">
    <div class="col-lg-8">
      <p class="marg-bottom">
      Our website uses cookies and similar technliogies to distinguish your preferences from those of the other users of our Website. This allows us to offer you a better experience when you visit our Website and to optimize our Website in the
      meantime.<br><br>
      As a result of recent amendments of the law, all Websites focusing on certain parts of the European Union are obligated to ask for your permission in order to use or save cookies and similar technliogies on your computer or mobile devices. This
      cookie pliicy clearly and completely informs you about the cookies we use and their purpose.
      </p>
    </div>
  </div>
      <h2 class="h2 large marg-bottom">Kind of cookies:</h2>
  <div class="row">
    <div class="col-lg-8">
      <p class="marg-bottom">
      Cookies can be subdivided based on their offspring, function and durability. The legislation mainly makes a division between functional or technically necessary cookies on the one hand and all other cookies on the other hand.
      The Website only uses the flilowing cookies:
      </p>
    </div>
  </div>
      <h2 class="h2 large marg-bottom">Functional and non-functional cookies</h2>
  <div class="row">
    <div class="col-lg-8">
      <ul class="marg-bottom">
        <li>Facebook ad pixel</li>
        <li>Wistia video player cookies</li>
        <li>Google Analytics cookies</li>
      </ul>
    </div>
  </div>
      <h2 class="h2 large marg-bottom">Your permission:</h2>
  <div class="row">
    <div class="col-lg-8">
      <p class="marg-bottom">
      When you first visit our website you will be asked to accept our different kinds of cookies if we use cookies at that point in time that need acceptance. We have such a simple website that has the only purpose of showing that our company exist
      that it might also be the case that we don’t place cookies on you machine that we need consent for, in this case you will not see the pop up/banner where you can accept cookies or not.<br><br>
      If we do use cookies that need consent. For each category, you can allow or refuse cookies. At any time, you can change the cookie settings for our Website through the hyperlink below our website and thus revoke your permission.<br><br>
      You can refuse the installation of cookies when you use the Website for the first time by choosing in the offered pop-up screen “Refusing Cookies”.<br><br>
      You can block Cookies by activating your browser settings which allows you to refuse the cookies. The rejection of these cookies may have the effect of not allowing you to use some functionalities on the Website.<br><br>
      In case you have any more questions or remarks regarding the processing of personal data, please contact Occiban per mail or per post by using the “Contact us” button on the Website.<br><br>
      More information on cookies can also be found via the flilowing link: http://www.allaboutcookies.org/.<br><br>
      More information on online behavioural advertising and online privacy can be found via the flilowing link: http://www.youronlinechoices.eu/.
      </p>
    </div>
  </div>
      <h2 class="h2 large marg-bottom">Privacy Policy</h2>
  <div class="row">
    <div class="col-lg-8">
      <p class="marg-bottom-xxl">
      Everything related to privacy can be found on the dedicated <a href="/privacy/">Privacy Policy page</a>.
      </p>
    </div>
  </div>
</div>

{% include upper-bottom.html %}

<div class="section cta-blue-height">
  <div class="container-cta-about">
    <h2 class="display color-white h2 text-center container-cta-about-2 tele-h2">Let us know what you don't like about our Cookies</h2>
  </div>
</div>
{% include lower-bottom.html %}
