---
layout: page
title: "Occiban"
permalink: /
---

<div class="image-container card-effect">
        <h1 class="home-h1">A natural<br class="mobile-only"> barrier between<br class="mobile-only"> you and <span class="colorful">biohazards</span>.</h1>
</div>

<div class="color-box marg-bottom-xxl desktop-only">
  <h2>Ociban is a <span class="bb">high-end disinfectant coating</span> that uses nano-technology to protect any surface from virusses, bacteria and other known pathogens.</h2>
</div>
<br class="mobile-only"><br class="mobile-only">
<p class="standalone mobile-only">Occiban is a <strong>high-end disinfectant coating</strong> that uses nano-technology to continuously protect any surface from virusses, bacteria and other known pathogens.</p>

<div class="container-fluid">

    <div class="work-section marg-bottom-xxl">
    <div class="row two-col">
      <div class="col-lg-1"></div>
      <div class="col-lg-5 two-col-text desktop-only">
        <img class="img-full" src="/img/Home/DSC_9383.png" alt="occiban">
      </div>
      <div class="col-lg-5 up-down-flex padd-left padd-right">
        <div class="two-text">
          <h2>About Occiban</h2>
        </div>
        <div class="two-mid">
          <ul>
            <li>Liquid that can be sprayed on hands and surfaces </li>
            <li>Trusted product used in hospitals for <strong>over 15 years</strong> </li>
            <li>100% <strong>organic</strong> coating that lasts for over 30 days </li>
            <li><strong>Actively kills</strong> viruses, bacteria and other pathogens </li>
            <li>Contains 0% alcohol <strong>, does not dry out skin</strong> </li>
            <li>Odourless and colourless, bonds to any surface</li>
          </ul>
        </div>
        <div class="two-bottom">
          <a href="/contact" class="nav-menu-link white w-nav-link box-nav-2 no-marg">Contact</a>
        </div>
      </div>
    </div>
    </div>

    <div class="how-section marg-bottom-xxl">
      <h2 class="text-center marg-bottom-xxl">Occiban’s Nano Technology</h2>
      <div class="row two-mix-col">
        <div class="col-lg-1"></div>
        <div class="col-lg-6 two-col-text">
          <img class="img-full" src="/img/Home/Screenshot 2020-09-18 at 14.02.05.png" alt="occiban">
        </div>
        <div class="col-lg-4 two-col-text padd-left padd-right">
          <div class="two-text">
            <p>The antimicrobial effect occurs when the solution dries and mechanically attaches, leaving behind a 4nm silica dioxide crystalline-like barrier.</p><br>
            <p>This barrier will <strong>actively kill</strong> and <strong>protect against</strong> most known germs including the covid19 virus. </p><br>
            <p>The coating <strong>only</strong> wears off due to <strong>heavy abrasion</strong>.</p>
          </div>
        </div>
        <span class="bg-paint"></span>
      </div>
    </div>


    <div class="how-section why-section marg-bottom-xxl">
      <h2 class="text-center marg-bottom-xl">Why Occiban</h2>
      <div class="row three-col two-text">
        <div class="col-lg-4">
          <div class="card-box">
            <img src="/img/Home/Mask Group 5.svg" alt="sustainable">
            <h3>Sustainable product</h3>
            <p class="text-center">Made from mostly water, no alcohol or chemicals added.</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card-box">
            <img src="/img/Home/Mask Group 3.svg" alt="Covid19 proof environment">
            <h3 class="desktop-only">Covid19 proof environment</h3>
            <h3 class="mobile-only">Covid 19 proof</h3>
            <p class="text-center">Proven to be 99,99% effective to kill Covid19 within 1 minute on any surface</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card-box">
            <img src="/img/Home/Mask Group 4.svg" alt="Long lasting protection">
            <h3 class="desktop-only">Long lasting protection</h3>
            <h3 class="mobile-only">Lasting protection</h3>
            <p class="text-center">Handsanitizer protects hands 5000x longer than regular disinfectants without drying them out.</p>
          </div>
        </div>
      </div>
    </div>
</div>

{% include upper-bottom.html %}
<div class="section cta-blue-height">
  <div class="container-cta-about">
    <h2 class="display color-white h2 text-center container-cta-about-2 tele-h2">Want to know<br> even more? <br><br> <a href="tel:+32498646598‬" class="w-nav-link no-marg tele-link">Call us on ‭ <br>+32 498 64 65 98‬</a></h2>
  </div>
</div>
{% include lower-bottom.html %}
