---
layout: page
title: "Occiban"
permalink: /
---

<div class="image-container card-effect">
        <h1 class="home-h1">A natural<br class="mobile-only"> barrier between<br class="mobile-only"> you and <span class="colorful">biohazards</span>.</h1>
</div>

<div class="color-box marg-bottom-xxl desktop-only">
  <h2>Occiban is a high-end disinfectant coating that uses nano-technology to continuously protect any surface from virusses, bacteria and other known pathogens.</h2>
</div>
<br class="mobile-only"><br class="mobile-only">
<p class="standalone mobile-only">Occiban is a <strong>high-end disinfectant coating</strong> that uses nano-technology to continuously protect any surface from virusses, bacteria and other known pathogens.</p>

<div class="container-fluid">

    <div class="abt-section how-section why-section marg-bottom-xxl">
      <h2 class="text-center marg-bottom-xl">About Occiban</h2>
      <div class="row three-col two-text">
        <p class="marg-bottom new-font">
          Occiban features and advanced formula which form an anti-microbial barrier that is effective in reducing bacteria and viruses. This technology has been trusted and used by hospitals and in operating rooms for over fifteen years.
        </p>
      </div>
      <div class="row three-col two-text marg-bottom">
        <div class="col-lg-3">
          <div class="card-box gray">
            <img src="/img/Home/Leafs for home page.svg" alt="sustainable">
            <h3>State-of-the-art protection</h3>
            <p class="text-center">Proven to be 99,99% effective to kill Covid19 and other germs within 1 minute on any surface</p>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="card-box gray">
            <img src="/img/Home/Sceleton for home page.svg" alt="Covid-19 proof environment">
            <h3 class="desktop-only">Long lasting effectiveness</h3>
            <h3 class="mobile-only">Long lasting effectiveness</h3>
            <p class="text-center">Protect surfaces and skin 5000x longer than traditional disinfectants.</p>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="card-box gray">
            <img src="/img/Home/clock.svg" alt="Long lasting protection">
            <h3 class="desktop-only">Safe ingredients</h3>
            <h3 class="mobile-only">Safe ingredients</h3>
            <p class="text-center">Causes no damage to surfaces and does not dry out or harm skin</p>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="card-box gray">
            <img src="/img/Home/Thumbs up for home page.svg" alt="Save money and time">
            <h3 class="desktop-only">Save money and time</h3>
            <h3 class="mobile-only">Save money and time</h3>
            <p class="text-center">No need to continuously re-apply the product. Saving both money and time</p>
          </div>
        </div>
      </div>
      <div class="two-bottom">
        <a href="#nano" class="nav-menu-link white w-nav-link box-nav-2 no-marg">LEARN MORE ABOUT THE TECHNOLOGY</a>
      </div>
    </div>

    <div class="vid-section marg-bottom-xxl">
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
        <div class="two-mid">
          <p>
            <img class="img-full" src="/img/Home/Screenshot 2020-09-24 at 18.09.07@2x.png" alt="video occiban">
          </p>
        </div>
      </div>
    </div>
    </div>

    <div class="how-section why-section marg-bottom-xxl">
      <h2 class="text-center marg-bottom-xl">Why Occiban</h2>
      <div class="row three-col two-text">
        <p class="marg-bottom new-font">
          There are a lot of products on the market. Why are we offering this now?
        </p>
      </div>
      <div class="row three-col two-text">
        <div class="col-lg-3">
          <div class="card-box">
            <img src="/img/Home/Group 55.svg" alt="sustainable">
            <h3>State-of-the-art protection</h3>
            <p class="text-center">Proven to be 99,99% effective to kill Covid19 and other germs within 1 minute on any surface</p>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="card-box">
            <img src="/img/Home/Group 72.svg" alt="Covid-19 proof environment">
            <h3 class="desktop-only">Long lasting effectiveness</h3>
            <h3 class="mobile-only">Long lasting effectiveness</h3>
            <p class="text-center">Protect surfaces and skin 5000x longer than traditional disinfectants.</p>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="card-box">
            <img src="/img/Home/Group 73.svg" alt="Long lasting protection">
            <h3 class="desktop-only">Safe ingredients</h3>
            <h3 class="mobile-only">Safe ingredients</h3>
            <p class="text-center">Causes no damage to surfaces and does not dry out or harm skin</p>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="card-box">
            <img src="/img/Home/Group 74.svg" alt="Long lasting protection">
            <h3 class="desktop-only">Save money and time</h3>
            <h3 class="mobile-only">Save money and time</h3>
            <p class="text-center">No need to continuously re-apply the product. Saving both money and time</p>
          </div>
        </div>
      </div>
    </div>

    </div>
    <div class="others-section marg-bottom-xxl">
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
        <div class="two-text marg-bottom">
          <h2 class="text-center">What Others Are Saying</h2>
        </div>
        <div>
          <p class="marg-bottom normal-font">
            A modern dental practice in Melle decided on Occiban to protect its facility, employees and patients.
          </p>
          <div class="row ital-box">
            <div class="col-lg-4 two-col-text">
              <img class="img-full" src="/img/Home/DSC_9479.png" alt="occiban">
            </div>
            <div class="col-lg-8 up-down-flex padd-left">
              <div class="two-text">
              </div>
              <div class="two-mid">
                <p class="marg-bottom">
                  “To be honest, I knew my cleaning crew had to work longer hours simply due to the meticulous job that is disinfecting every high touch surface.
                  </p>
                <p class="marg-bottom">
                   After a few weeks it became clear that I couldn’t leave such an important job up to people who had no time for it.”
                 </p>
                 <p class="marg-bottom text-right">
                  - Evelyne, General Manager of Lightfalls Clinic
                 </p>
              </div>
              <div class="two-bottom">
                <a href="/downloads/occiban-casestudy-lightfalls-LQ.pdf" class="left-only nav-menu-link white w-nav-link box-nav-2 no-marg" download>DOWNLOAD THE COMPLETE CASESTUDY</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    <div class="container-fluid">

    <div class="products-section why-section how-section marg-bottom-xxl">
      <h2 class="text-center marg-bottom-xl">Our Products & Services</h2>
      <div class="row three-col two-text marg-bottom">
        <div class="col-lg-4">
          <div class="card-box transparent">
            <img src="/img/Home/handspray-1.png" alt="Sanitizer">
            <h3 class="text-left">Occi 8hr Hand Sanitizer</h3>
            <ul>
              <li>Alcohol Free</li>
              <li>Fragrance Free </li>
              <li> Does not dry out skin </li>
              <li> Doesn’t stick</li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card-box transparent">
            <img src="/img/Home/ufsprayer.png" alt="All Purpose">
            <h3 class="text-left">Occi All Purpose</h3>
            <ul>
              <li> Uses ‘mechanical kill’ to eliminate bio threat </li>
              <li> 30 days protection</li>
              <li>Won’t damage or discolor surfaces</li>
              <li>Safe to use</li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card-box transparent">
            <img src="/img/Home/DSC_9415.png" alt="Spraying Service">
            <h3 class="text-left">Spraying Service</h3>
            <ul>
              <li> Complete disinfection service </li>
              <li> Whole area or high touch traffic areas </li>
              <li> Sprayed with electrostatic sprayer for optimal coverage </li>
              <li> Protects your business to reopen safely</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="two-bottom">
        <a href="/contact" class="nav-menu-link white w-nav-link box-nav-2 no-marg">REQUEST A QUOTE</a>
      </div>
    </div>

    <div class="how-section marg-bottom-xxxl" id="nano">
      <h2 class="text-center marg-bottom-xxxl">Occiban’s Nano Technology</h2>
      <div class="row two-mix-col">
        <div class="col-lg-1"></div>
        <div class="col-lg-6 two-col-text">
          <img class="img-full" src="/img/info-graph-occiban-edit-v3-01.png" alt="occiban">
        </div>
        <div class="col-lg-4 two-col-text padd-left padd-right">
          <div class="two-text">
            <p>Occiban’s main ingredient is <strong>water</strong>. Once the water dries up, the coating uses the properties of nano-molecular silicon dioxide to form a 4nm barrier.</p><br>
            <p>This barrier will <strong>actively kill</strong> and <strong>protect against</strong> most known germs including the covid19 virus. </p><br>
            <p>The coating <strong>only</strong> wears off due to <strong>heavy abrasion</strong>.</p>
          </div>
        </div>
        <span class="bg-paint"></span>
      </div>
    </div>

    <div class="certi-section how-section marg-bottom-xxl">
      <div class="row marg-bottom">
        <div class="col-lg-1"></div>
        <div class="col-lg-5 padd-left padd-right proof">
          <h2 class="marg-bottom">Proof</h2>
          <div class="two-text">
            <p>The product behind Occiban was developed by a reknown neuro-surgeon around 15 years ago. It has since been used in countless hospitals and operating rooms to keep them free of pathogens. </p><br>
            <p>It has withstood rigorous testing, has been approved for several certificates and has a few pending approval. </p><br>
            <p>One the best studies out there was preformed by the University of Liverpool in 2016.</p>
          </div>
        </div>
        <div class="col-lg-5 padd-left padd-right certi">
          <h2 class="marg-bottom">&amp; Certificates</h2>
            <img class="marg-bottom" src="/img/Home/FDa-Logo-Blue---large-01.png" alt="US food and drug">

            <img class="marg-bottom" src="/img/Home/EPA_logo_0.png" alt="US environment protection">

            <img class="marg-bottom" src="/img/Home/Conformité_Européenne_(logo).svg" alt="US food and drug">

        </div>
      </div>
      <div class="two-bottom">
        <a href="/downloads/occiban-casestudy-lightfalls-LQ.pdf" class="nav-menu-link white w-nav-link box-nav-2 no-marg" download>DOWNLOAD STUDY FROM LIVERPOOL UNIVERSITY</a>
      </div>
    </div>
  </div>


{% include upper-bottom.html %}
<div class="section cta-blue-height">
  <div class="container-cta-about">
    <h2 class="display color-white h2 text-center container-cta-about-2 tele-h2">Want to know<br> even more? <br><br> <a href="tel:+32498646598‬" class="w-nav-link no-marg tele-link">Call us on ‭ <br>+32 498 64 65 98‬</a></h2>
  </div>
</div>
{% include lower-bottom.html %}
