---
layout: page
title: "Investments at Bombay Studio"
permalink: /invest/
---
<div class="container">
  <div class="row marg-bottom-xl">
    <div class="col-lg-10">
      <h1 class="h2 desktop-only">We start, buy &amp; invest in<br> online first brands that we love.</h1>
      <h1 class="h2 mobile-only">We start, buy &amp; invest in online first brands that we love.</h1>
    </div>
  </div>

</div>
<div class="marg-bottom-xxl padd-top-xl padd-bottom-xl" style="background-color:#F8F8F9">
  <div class="container">
  <h2 class="h2 large marg-bottom-xl">Why Bombay?</h2>
  <div class="row marg-bottom">
    <div class="col-lg-10">
      <div class="block-full">
        <img src="/img/Invest/line-1.svg" alt="Experience" style="vertical-align: sub;"><h3 class="h3 top-para medium">Experience</h3>
        <p>We’ve been working for and starting online brands for a couple of years now. And to be honest we just love it. Launch, measure, adjust and repeat. Gotta stay agile in this type of business! <br><br>
           We have already been through a couple of deals before and thus know what to look out for.</p>
      </div>
    </div>
  </div>
  <div class="row marg-bottom">
    <div class="col-lg-10">
      <div class="block-full">
        <img src="/img/Invest/line.svg" alt="Culture" style="vertical-align: sub;"><h3 class="h3 top-para medium">Culture</h3>
        <p>For us, working together with people you like is fundamental rule number one. There must be that initial, good old gut feeling that feels just right. This drives us forward and helps us thrive.<br><br>
            We will not seek to overthrow your current operations nor are we looking to put in new managers.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-10">
      <div class="block-full">
        <img src="/img/Invest/line-2.svg" alt="Fast" style="vertical-align: sub;"><h3 class="h3 top-para medium">Fast</h3>
        <p>We are a small team and we want to keep it that way. We want to keep moving fast. Expect fast, concrete and honest answers from us.<br><br>
            Because we want to move fast we are not looking for complicated deal structures. Simple straightforward offers are what we aim for.</p>
      </div>
    </div>
  </div>
</div>
</div>
<div class="container">

  <hr class="marg-bottom-xxl desktop-only">


<div class="row marg-bottom-xxl">
  <div class="col-lg-4 marg-bottom-mobile">
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
        <h4 class="marg-bottom medium fix-height">Specs</h4>
        <ul>
           <li>Ecommerce</li>
           <li>Idea or small business</li>
           <li>€ 5k+ montly revenue</li>
           <li>Simple product/business</li>
           <li>Strong and enjoyable team</li>
        </ul>
      </div>
      <div class="col-lg-1"></div>
    </div>
  </div>
  <div class="col-lg-4 marg-bottom-mobile">
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
    <h4 class="marg-bottom medium fix-height">Become a scout</h4>
    <p>
      Want to earn some money on the side? <strong>Email us</strong> and tell us about the <strong>business you want to propose</strong> to us.<br><br> If we are interested you can bring us into contact with the owners. If we end up buying, <strong>you’ll get your commission</strong>.<br><br> Pinky promise!
    </p>
  </div>
    <div class="col-lg-1"></div>
  </div>
  </div>
  <div class="col-lg-4">
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
    <h4 class="marg-bottom medium fix-height">Work for a Bombay company</h4>
    <p>
      You don’t own a business but are interested in <strong>setting up and running</strong> businesses?<br><br> Contact us to see if there is that magic fit we are all looking for.
    </p>
  </div>
    <div class="col-lg-1"></div>
  </div>
  </div>
</div>
<hr class="marg-bottom-xxxl desktop-only">
</div>

{% include upper-bottom.html %}
            <h2 class="display color-white h2 text-center">Time to seal the deal?<br><br> <a href="/contact" class="nav-menu-link white w-nav-link box-nav-2 no-marg">Contact us</a></h2>
{% include lower-bottom.html %}
