---
layout: page
title: "Privacy Policy"
permalink: /privacy/
---
<div class="container">
  <h1 class="h2 marg-bottom">Privacy Policy</h1>
  <div class="row marg-bottom-xl">
    <div class="col-lg-8">
      <p class="bigger-para">On this page you should find everything related to privacy. Please let us know if there is anything that you find unclear.</p><br>
    </div>
  </div>

  <h2 class="h2 large marg-bottom">Article 1 – General terms</h2>
  <div class="row">
    <div class="col-lg-8">
        <ul class="marg-bottom">
          <li>Occiban, as a Belgian company, applies the “law of December 8, 1992 on Privacy Protection in relation to the Processing of Personal Data” as modified by the “law of December 11, 1998” and by the “law of June 13,
        2005 on electronic communications”.</li>
          <li>Occiban declares to abide by the European General Data Protection Regulation 2016/679 of 27 April 2016 with this Privacy Policy.</li>
          <li>Occiban takes responsibility for the processing of your personal data.</li>
        </ul>
        <p class="marg-bottom">
        Occiban<br>
        9000 Gent<br>
        Belgium<br>
        VAT number: XXXX<br>
      </p>
      </div>
      </div>

      <h2 class="h2 large marg-bottom">Article 2 – Collected personal data</h2>
      <div class="row">
      <div class="col-lg-8">
      <h3 class="h3 medium">2.1. Data you communicate to us:</h3>

      <ul class="marg-bottom">
          <li>Category 1, [without registration: your IP-adress]</li>
          <li>Category 2: [your profile name, password e-mail address, login and (possibly) your profile picture;]</li>
          <li>Category 3:[by registration on the newsletter: your e-mail address]</li>
          <li>Category 4: [data obtained by placing cookies: Session ID and Wordfence Human Cookie]</li>
          <li>Category 5: [your address data in response to communicating]</li>
          <li>Category 6: [….]</li>
      </ul>

      <h3 class="h3 medium">2.2 Occiban can obtain personal data through different means:</h3>

      <ul class="marg-bottom">
        <li>by placing cookies (see below);</li>
        <li>during your registration and use of the Website;</li>
      </ul>
      <h3 class="h3 medium marg-bottom">The Website also uses cookies who collect certain personal data. For the provisions about the use of cookies, see article 8.</h3>
    </div>
    </div>

      <h2 class="h2 large marg-bottom">Article 3 – Purposes of the processing of data</h2>
      <div class="row">
      <div class="col-lg-8">
      <h3 class="h3 medium">3.1. General purposes:</h3>
      <p class="marg-bottom">
      Occiban will use the obtained personal data solely for the purposes mentioned below:<br><br>
      </p>
      <ul>
      <li>Category 1: [the maintaining and improving of the Website and the creation of anonymous statistics based (the identity of particular persons or companies will not be traceable) on the “legitimate interest” of Occiban to improve her
      service and Website continuously; ]</li>
      <li>Category 2: [managing your account on the Website and using the forum based on the execution of the agreement which you requested, in order to send you direct marketing mailings with related and comparable offers and promotions. You can opt-out
      of these mailings by unsubscribing at the bottom of every direct marketing email. We will also use this information to invite you to review our services. This information is used with the legal basis ‘Legitimate Interest’.]</li>
      <li>Category 3: [the sending of direct marketing mailings, newsletters, promotions, based on your explicit and preliminary consent;]</li>
      <li>Category 4: [Session ID, only used in case people log in. To check whether the user is a human and not a robot Wordfence Human Cookie is used based on explicit, prior consent;]</li>
      <li>Category 5: [the delivery and invoice-details of the service or product ordered by you, based on the delivery of a service which you requested.]</li>
      </ul>
      <p class="marg-bottom">
      You are not obliged to provide us with your personal data, however, you must understand that the delivery of certain services is not possible in case you refuse to provide us with certain personal data.
      </p>
      <h3 class="h3 medium">3.2. Direct marketing:</h3>
      <p class="marg-bottom">
      Your personal data will only be used for direct marketing purposes of you give your explicit and preliminary consent.(“opt-in”).<br><br>
      In case you have given your consent and you are added to Sticker Live BV’s direct mailing list, Sticker Live BV may use your personal data to send you marketing material as well as other material relating to Occiban, her products
      and/or her services. Occiban can also use the personal data you provided in order to adapt the documents saved by Occiban.<br><br>
      This consent can be revoked at all times, for free and without motivation by clicking the unsubscribe button below every promotional e-mail.<br><br>
      </p>
      <h3 class="h3 medium">3.3. Transfer to third parties:</h3>
      <p class="marg-bottom">
      In case of whole or partial reorganization or cession of Occiban activities, whereby Occiban reorganizes, transfers, ceases her business activity or in case Occiban goes bankrupt, your personal data may be transferred
      to new entities or third parties.<br><br>
      Occiban will try, if reasonably possible, to inform you beforehand of the fact that Occiban transfers your personal data to a third person, but you must be aware of the fact that this is not always possible nor technically nor
      commercially. Bombay Studio NV also works together with parties that work remotely and could be everywhere around the globe. We always make sure that people only see the data necessary to fulfil the job they need to do and make sure all the
      data is safe, behind strong passwords and 2 factor authentication.<br><br>
      Occiban won’t sell, let, hand out your personal data nor place them at disposal of third parties, except in the situations provided for in this policy or unless your explicit and preliminary consent.
      </p>
      <h3 class="h3 medium">3.4. Legal requirements:</h3>
      <p class="marg-bottom">
      In extraordinary circumstances, it may occur that Occiban is obliged to transfer your personal data following a court order or in order to comply with imperative laws and/or regulations. Occiban will, if reasonably possible,
      try to inform you on beforehand unless revealing this information is subject to legal constraints.
      </p>
      </div>
      </div>

      <h2 class="h2 large marg-bottom">Article 4 – Duration of the processing</h2>
      <div class="row">
      <div class="col-lg-8">
      <p class="marg-bottom">
      We will store and process your personal data during the period necessary depending on the purposes of the processing as well as depending on the contractual relationship between you and Occiban.
      Specific intended period: 3 years after the last communication
      </p>
      </div>
      </div>

      <h2 class="h2 large marg-bottom">Article 5 – Your rights</h2>
      <div class="row">
      <div class="col-lg-8">
      <h3 class="h3 medium">5.2. Right to correct, delete and limit:</h3>
      <p class="marg-bottom">
      You have the choice to share your personal data with Occiban You also have the right to request Occiban to correct, delete or complement your personal data. You acknowledge that a refusal to share data or a request to delete
      these data will make the delivery of certain services and/or products impossible.<br><br>
      You can also request the processing of your personal data to be limited.
      </p>
      <h3 class="h3 medium">5.3. Right to object:</h3>
      <p class="marg-bottom">
      You have the right to object to the processing of your personal data when you have serious and legitimate reasons to do so.<br><br>
      You also have the right to object to the use of your personal data for purposes of direct marketing. In such case-specific reasoning will not be requested.
      </p>
      <h3 class="h3 medium">5.4. Right to free data transferring:</h3>
      <p class="marg-bottom">
      You have the right to obtain your personal data which is processed by Occiban in a structured, usual form, readable by machines and/or to transfer this data to another data controller.
      </p>
      <h3 class="h3 medium">5.5. Right to withdraw consent:</h3>
      <p class="marg-bottom">
      When the processing is based on prior consent you have the right to withdraw this consent.
      </p>
      <h3 class="h3 medium">5.6. Exercise of rights:</h3>
      <p class="marg-bottom">
      You can exercise your rights by contacting us, either through e-mail via the form below or by mail to Occiban, Provenierstersstraat 13, 9000 Gent, Belgium or through the link ‘Contact us’ on the Website, with the inclusion of your ID.
      </p>
      <h3 class="h3 medium">5.7. Automated decisions and profiling:</h3>
      <p class="marg-bottom">
      The processing of your personal data does not include profiling, nor shall you be subjected to automated decisions.
      </p>
      <h3 class="h3 medium">5.8. Right to file a complaint:</h3>
      <p class="marg-bottom">
      You have the right to file a complaint with the Belgian Privacy Commission: Commission for protection of personal life, Drukpersstraat 35, 1000 Brussels, Tel +32 (0)2 274 48 00, Fax +32 (0)2 274 48 35, e-mail: commission@privacycommission.be.
      This does not affect a provision before the civil court.<br><br>
      If you have suffered damages caused by the processing of your personal data you can file a claim for damages.
      </p>
      </div>
      </div>

      <h2 class="h2 large marg-bottom">Article 6 – Safety and confidentiality</h2>
      <div class="row">
      <div class="col-lg-8">
      <h3 class="h3 medium marg-bottom">6.1. We have adopted safety measures which are suited on both a technical and an organisational level to avoid the destruction, the loss, the forgery, the adjustment, the non-authorised access or the notification
        of the personal data by accident to a third party, as well as the non-authorised processing of these data.</h3>
      <h3 class="h3 medium marg-bottom">6.2. Occiban shall not be liable in any way for direct or indirect damages caused by wrongfully or improper use of the personal data by a third party.</h3>
      <h3 class="h3 medium marg-bottom">6.3. At all times you shall comply with safety standards, for instance by avoiding all non-authorised access to your login and access code. You are solely responsible for the use of the Website on your computer,
        IP-address and identification data, as well as for the confidentiality.</h3>
      </div>
      </div>

      <h2 class="h2 large marg-bottom">Article 7 – Access by third parties</h2>
      <div class="row">
      <div class="col-lg-8">
      <p class="marg-bottom">
      In order to process your personal data, we provide access to your personal data to our employees.<br><br>
      We guarantee a similar level of protection by imposing contractual obligations to our employees that are similar to this Privacy Policy.
      </p>
      </div>
      </div>
      <h2 class="h2 large marg-bottom">Article 8 – Cookies</h2>
      <div class="row">
      <div class="col-lg-8">
      <p class="marg-bottom-xxl">
      Everything related to cookies can be found on the dedicated <a href="/cookies/">Cookie Policy page</a>.
      </p>
    </div>
  </div>
</div>

{% include upper-bottom.html %}
<div class="section cta-blue-height">
  <div class="container-cta-about">
    <h2 class="display color-white h2 text-center container-cta-about-2 tele-h2">Spotted a mistake or inconsistancy, please reach out?</h2>
  </div>
</div>
{% include lower-bottom.html %}
