---
layout: page
title: "What we do at Bombay Studio"
permalink: /what/
---
<div class="container">
  <h2 class="h2 marg-bottom">Websites & stores</h2>
  <div class="row marg-bottom-xl">
    <div class="col-lg-6 marg-bottom-mobile">
      <p class="bigger-para">Online brands thrive because of unique products and a clear vision. But also because they are well built, robust and beautiful digital interfaces.</p><br>
      <p class="bigger-para"> We do everything from simple websites to international multi language and multi currency e-commerce.</p>
    </div>
    <div class="col-lg-6 icons-animation">
      <div class="row">
        <div class="col-3"></div>
        <div class="col-2">
          <img class="front-icon" src="/img/What/homepage.svg" alt="homepage" width="50">
          <img class="back-icon" src="/img/What/hearts.svg" alt="hears" width="50">
        </div>
      </div>
      <div class="row">
        <div class="col-5"></div>
        <div class="col-2">
          <img class="front-icon" src="/img/What/shopping cart.svg" alt="shopping cart" width="50">
          <img class="back-icon" src="/img/What/plus.svg" alt="hears" width="50">
        </div>
      </div>
      <div class="row">
        <div class="col-7"></div>
        <div class="col-2">
          <img class="front-icon" src="/img/What/shopping bag.svg" alt="shopping bag" width="50">
          <img class="back-icon" src="/img/What/moneybag.svg" alt="hears" width="50">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 marg-bottom">
      <div class="block">
        <img src="/img/Homepage/pencil.svg" alt="Design"><h3 class="h3 tagline">1. Design</h3>
        <p>We listen to your story with the goal to deeply <strong>understand your brand</strong> and needs. We then create <strong>wireframes</strong> and later build a <strong>beautiful design</strong> around that.</p>
      </div>
    </div>
    <div class="col-lg-6 marg-bottom">
      <div class="block">
        <img src="/img/Homepage/Mask Group 1.svg" alt="Develop"><h3 class="h3 tagline">2. Develop</h3>
        <p>In this stage we find the <strong>best</strong> possible <strong>technical implementation</strong> to make sure your site is not only a joy to look at but also <strong>responsive, fast, safe and interactive</strong>. We mostly use Lightspeed and Shopify.</p>
      </div>
    </div>
    <div class="col-lg-6 marg-bottom-xl">
      <div class="block">
        <img src="/img/What/rocker.svg" alt="Launch & scale"><h3 class="h3 tagline">3. Launch & scale</h3>
        <p>We help you launch the thing but also track how it <strong>performs</strong> and what we could do in the future to make it even better. <strong>Agility</strong> is key in the fast pace world that we currently live in.</p>
      </div>
    </div>
  </div>

  </div>
  <div class="marg-bottom-xl padd-top-xl padd-bottom-xl" style="background-color:#F8F8F9">
    <div class="container">
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-4 marg-bottom-mobile">
          <img class="center-it" src="/img/What/half-omni-graphic-2.jpg" alt="Lightspeed" height="180">
          <h3 class="h3 tagline sph3">Lightspeed</h3>
          <p class="mobile-para-font">Lightspeed aims at the slightly bigger clients that might have some physical stores next to their online presence.</p>
        </div>
        <div class="col-lg-2"></div>
        <div class="col-lg-4">
          <img class="center-it" src="/img/What/1Lj-ecz8g4mRGxnmyD2BtdQ.jpg" alt="Shopify" height="180">
          <h3 class="h3 tagline sph3">Shopify</h3>
          <p class="mobile-para-font">Shopify is a very good e-commerce platform with a very rich ecosystem of apps so that will help you create the online presence you need.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">


  <!-- <div class="services marg-bottom-xxxl">
    <div class="row marg-bottom-xl">
      <div class="col-lg-6">
      </div>
      <div class="col-lg-6">
        <h2 class="h2">Online brands thrive because of unique products and a clear vision.</h2>
      </div>
    </div>
    <div class="row marg-bottom-xl">
      <div class="col-lg-1">
      </div>
      <div class="col-lg-4">
        <p>But also because of they are well built, robust, fast and beautiful <a href="#">digital interfaces</a>.</p>
      </div>
    </div>
    <div class="row marg-bottom-xl">
      <div class="col-lg-3">
      </div>
      <div class="col-lg-9">
        <h2 class="h2">We have a lot of expertise in international ecomm. Multi currency/language setups are our thing.</h2>
      </div>
    </div>
  </div> -->


  <h2 class="h2 marg-bottom">Online marketing &amp; branding</h2>
  <div class="row marg-bottom-xl">
    <div class="col-lg-11">
      <p class="bigger-para">Finding a sound position in the market is extremely important. We can help you analyse where you are and help you decide where you want to go next. We can also help you create visual assets (images and video) because as they are the cornerstone of a good online marketing strategy.</p>
    </div>
  </div>
  <div class="row marg-bottom-xxxl">
    <div class="col-lg-6 marg-bottom">
      <div class="block">
        <img src="/img/What/pushpin.svg" alt="Brand analysis"><h3 class="h3 tagline">1. Brand analysis</h3>
        <p>To make sure we <strong>understand the current situation</strong> we’ll have a look at all the <strong>data</strong> that you have available. We’ll help you structure it so we can draw conclusions. Metrics we look at: <strong>SEO, SEA and Socials</strong>.</p>
      </div>
    </div>
    <div class="col-lg-6 marg-bottom">
      <div class="block">
        <img src="/img/What/magic-wand.svg" alt="Brand potential"><h3 class="h3 tagline">2. Brand potential</h3>
        <p>Now that we know where we are we can help. Decide <strong>where to go next</strong> and make it concrete. This is a step we need to do <strong>together</strong> of course so it is thoroughly aligned with the goals of the business.</p>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="block marg-bottom-mobile">
        <img src="/img/What/camera.svg" alt="Photography"><h3 class="h3 tagline">3. Photography</h3>
        <p>People love great images. We can help you create the images that you need to make your brand stand out.</p>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="block marg-bottom-mobile">
        <img src="/img/What/gift.svg" alt="Implement"><h3 class="h3 tagline">4. Implementation</h3>
        <p>We can implement everything for you but we can also help you implement it yourself.</p>
      </div>
    </div>
  </div>


  <h2 class="h2 marg-bottom">Backend integrations</h2>
  <div class="row two-col marg-bottom-xxxl">
  <div class="col-lg-6 two-col-text order-lg-12 marg-bottom-mobile">
    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-8">
        <p class="dark-para">
          We have <strong>launched</strong> a couple of brands <strong>ourselves</strong> and have seen first hand what the <strong>impact</strong> of good integrations can have on the <strong>overall business</strong>!
        </p>
      </div>
    </div>
  </div>
    <div class="col-lg-6 border-right order-lg-1">
      <div class="block block2">
        <img src="/img/What/barcode.svg" alt="Current brand">
        <p>Ecomm <-> ERP</p><br>
      </div>
      <div class="block block2">
        <img src="/img/What/marketplace.svg" alt="Current brand">
        <p>Ecomm <-> third party marketplaces</p><br>
      </div>
      <div class="block block2">
        <img src="/img/What/euro.svg" alt="Current brand">
        <p>Ecomm <-> accounting software</p><br>
      </div>
    </div>
  </div>

</div>

{% include upper-bottom.html %}
            <h2 class="display color-white h2 text-center container-cta-about-2">Excited?<br><br> <a href="/contact" class="nav-menu-link white w-nav-link box-nav-2 no-marg">Contact us</a></h2>
{% include lower-bottom.html %}
