<!-- footer Start -->
<footer class="page-footer font-small blue pt-4" style="margin: 15px;background-color: transparent;position: fixed;bottom: 0;width: 100%;padding-bottom: 25px;">
  <div class="text-center text-lg-left">
    <div class="row desktop-only">
      <div class="col-lg-3 desktop-only text-uppercase text-center"></div>
      <div class="col-lg-2 col-4 text-uppercase text-center"><a href="mailto:info@bombay-studio.com" style="color: #1F2249 !important;border-bottom: 0;text-transform: none;">Email Us</a></div>
      <div class="col-lg-2 col-4 text-uppercase text-center"><a href="/privacy/" style="color: #1F2249 !important;border-bottom: 0;text-transform: none;">Privacy</a></div>
      <div class="col-lg-2 col-4 text-uppercase text-center"><a href="/cookies/" style="color: #1F2249 !important;border-bottom: 0;text-transform: none;">Cookies</a></div>
    </div>
    <div class="row mobile-only">
      <div class="col-lg-3 desktop-only text-uppercase text-center"></div>
      <div class="col-lg-2 col-4 text-uppercase text-center"><a href="/cookies/" style="color: #1F2249 !important;border-bottom: 0;text-transform: none;">Cookies</a></div>
      <div class="col-lg-2 col-4 text-uppercase text-center"></div>
      <div class="col-lg-2 col-4 text-uppercase text-center"><a href="/privacy/" style="color: #1F2249 !important;border-bottom: 0;text-transform: none;">Privacy</a></div>
    </div>
  </div>
</footer>
