<div class="footer-v2 footer-projects  {% if page.permalink == '/contact/' %}mobile-contact-full{% endif %}">
<div class="container">
    <div class="w-layout-grid grid-footer">
        <div>
            <a href="/cookies/" class="footer-nav navigation-text colo-white bold-nav mg-bottom-37px cust-footer-link" style="border-bottom: 0;color: #fff !important;vertical-align: top;margin-bottom: 30px;margin-top: -15px;">
                Cookies
            </a>
            <a href="/privacy/" class="footer-nav navigation-text colo-white bold-nav cust-footer-link-1" style="border-bottom: 0;color: #fff !important;">
                Privacy
            </a>
        </div>
        <div id="w-node-26a2e50e6c6f-e50e6c6">
            <div class="footer-form w-form desktop-only">
                <form name="wf-form-Footer" id="wf-form-Footer" action="https://formspree.io/mbjpjgjj" method="post">
                    <div class="mg-bottom-37px">
                        <label for="email" class="navigation-text colo-white bold-nav">Subscribe to our updates</label>
                    </div>
                    <div class="input-form-container">
                        <input type="email" class="input-footer w-input" maxlength="256" name="_replyto" data-name="email" placeholder="e-mail" id="email" required=""/>
                        <button type="submit" class="button-form-footer w-button"><img class="vpp" src="/img/arrow.svg" alt="arrow" height="30"></button>
                    </div>
                </form>
                <div class="succes-message-white w-form-done">
                    <div>You &#x27;re subscribed!</div>
                </div>
                <div class="error-message left w-form-fail">
                    <div>Oops! Something went wrong while submitting the form.</div>
                </div>
            </div>
            <div class="footer-form w-form mobile-only">
                <form name="wf-form-Footer" id="wf-form-Footer" action="https://formspree.io/mbjpjgjj" method="post">
                    <div class="mg-bottom-37px">
                        <label for="emaila" class="navigation-text colo-white bold-nav">Keep me posted</label>
                    </div>
                    <div class="input-form-container">
                        <input type="email" class="input-footer input-footer-2 w-input" maxlength="256" name="_replyto" data-name="email" placeholder="Your email" id="emaila" required=""/>
                        <button type="submit" class="button-form-footer w-button">-></button>
                    </div>
                </form>
                <div class="succes-message-white w-form-done">
                    <div>You &#x27;re subscribed!</div>
                </div>
                <div class="error-message left w-form-fail">
                    <div>Oops! Something went wrong while submitting the form.</div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
