<div class="bottom-elements {% if page.permalink == '/contact/' %}mobile-contact-full min-ht{% endif %}">
  <div class="header-white">
      <div class="header transparent w-nav {% if page.permalink == '/contact/' %}mobile-contact-full{% endif %}">
          <div class="container">
              <a href="/" class="logo-container w-nav-brand">
                  <img src="/img/bombay-studio-logo-filled-02.svg" alt="logo" class="logo purple"/>
              </a>
              <nav class="nav-menu-container w-nav-menu desktop-only">
                  <div class="nav-items-container">
                      <div class="nav-links-container">
                          <a href="{% if page.permalink == '/contact/' %}/{% else %}/contact{% endif %}" class="nav-menu-link white w-nav-link box-nav-2">{% if page.permalink == '/contact/' %}Home{% else %}Contact{% endif %}</a>
                      </div>
                  </div>
              </nav>
              <div class="menu-mobile w-nav-button">
                  <div class="close-menu">Close</div>
                  <div class="hamburger-menu openNav">
                      <div class="hamburger-menu-line top"></div>
                      <div class="hamburger-menu-line center"></div>
                      <div class="hamburger-menu-line bottom"></div>
                  </div>
              </div>
          </div>
      </div>
  </div>
